<div class="container mt-3">
    <div *ngIf="isLoading" class="spinner-border" role="status"></div>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Username</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Email</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Phone</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="phone" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <button class="btn btn-primary" (click)="back()" type="submit">Volver</button>
      </form>
</div>