<div class="container mt-3">
  <div *ngIf="isLoading" class="spinner-border" role="status"></div>
  <div class="container">
    <button class="btn btn-success" (click)="navigateAddUser()">Agregar</button>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList">
              <td scope="row">{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>
                <button type="button" (click)="navigateToDetail(user.id)" class="btn btn-success"><i class="bi bi-pencil-square"></i></button>
              <button type="button" (click)="deleteUser(user.id)" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>