<div class="container mt-3">
  <div *ngIf="isLoading" class="spinner-border" role="status"></div>
    <form [formGroup]="editUserForm" (ngSubmit)="updateUser()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">ID</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" formControlName="id" [readOnly]="true" [disabled]="true">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Username</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Email</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Phone</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" formControlName="phone" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <button class="btn btn-danger" (click)="back()" type="button">Volver</button>
      </form>
</div>
  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>